doctype html
html(lang=`${lang}-ca`)
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title=title ? `${title} | ${siteTitle}` : siteTitle
      link(rel="stylesheet" href="/main.css")
      link(rel="stylesheet" href="/index.css")
  body
    header
      nav
        mixin nav-link
          a(aria-current=attributes.href === currentPath && "page")&attributes(attributes)
            block
        +nav-link(href=`/${lang}/`)=t("siteTitle")
        +nav-link(href="/about") About
        +nav-link(href="/ontario") Ontario MPPS
        +nav-link(href="/alberta") Alberta MLAS
        +nav-link(href="/quebec") Quebec MNAS
        div(style="position: absolute; inset-block-start: 0; inset-inline-end: 0; padding: 0.25rem;")
          case lang
            when "en"
              a(href="/fr/") Français
            when "fr"
              a(href="/en/") English
    main
      block main
    footer.contact
      address Contact: #{contactEmail}
    block foot
