doctype html
html(lang=`${lang}-ca`)
  head
    block head
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title=title ? `${title} | ${siteTitle}` : siteTitle
      script(type="importmap"): include importmap.json
      link(rel="stylesheet" href="/main.css")
      link(rel="stylesheet" href="/index.css")
  body
    header
      nav
        mixin nav-link
          a(aria-current=attributes.href === currentPath && "page")&attributes(attributes)
            block
        +nav-link(href="/")=siteTitle
        +nav-link(href="/about") About
    main
      block main
    footer.contact
      address Contact: #{contactEmail}
