extends _base

block main
  .title
    h1=t("ab.title")
  .max
    .centered
      .mp-container-thin
        .flex
          .img-container
            img.mp-img(src=`/images/ab_mla_images/${image_name}` alt="")
          .txt-container
            .top-tile
              p.mp-name=name
              p(class=`mp-party ${party.toLowerCase().replace(" ", "-")}`)=party
            .bottom-tile
              p.mp-constituency=constituency
    .centered
      ul.ul
        li.homeowner=homeowner
        li.landlord=landlord
        li.investor=investor
    .centered
      .disclosure-container
        each contents, category in groupedDisclosures
          div
            p.category=category
            div
              each content in contents
                each line in content.split("\n")
                  p=line
