extends _base

append head
  style: include index.css

append foot
  script(defer): include index.js
  
block main
  .title
    h1=t("siteTitle")
    p !{t("allDataSourcedFrom", { sourceLabel: t("prciec.label"), sourceLink: t("prciec.href") })}
  details.totals(open)
    summary#table-details-label Landlords by party
    .totals-table-wrapper
      table.totals-table(aria-labelledby="table-details-label")
        thead
          th Party
          th(aria-sort="descending") #[span(aria-hidden="true") ▾]&nbsp;MPs
          th Landlords
          th Percentage
        tbody
          each data, party in Object.fromEntries(Array.from(parties).sort((a, b) => b[1].mps - a[1].mps))
            tr(data-party=party)
              th(scope="row")=party
              td=data.mps
              td=data.landlords
              td=`${(data.landlords / data.mps * 100).toFixed(2)}%`
        tfoot
          th(scope="row") Totals
          td=totalMps
          td=totalLandlords
          td=`${(totalLandlords / totalMps * 100).toFixed(2)}%`
  #root
    .mega-container
      .sorting-container
        label(for="party-select")
          | #{t("party")}
          select#party-select.filter-selector
            button: selectedcontent
            each party in [t("all"), ...Array.from(parties, ([party]) => party).sort()]
              option(value=party)
                div(data-party=party style="display: contents")
                  svg(viewBox="0 0 20 20" width="1em" style="align-self: center")
                    circle(r="10" cx="10" cy="10" fill="var(--party-color)")
                  span=party
        label(for="province-select")
          | #{t("province")}
          select#province-select.filter-selector
            each province in [t("all"), ...[...new Set(mps.map(mp => mp.province))].sort()]
              option(value=province)=province
        label(for="constituency-select")
          | #{t("constituency")} 
          select#constituency-select.filter-selector
            each constituency in [t("all"), ...mps.map(mp => mp.constituency).sort()]
              option(value=constituency)=constituency
        label(for="only-landlords")
          input#only-landlords(type="checkbox")
          | Only landlords
      #live-region.visually-hidden(aria-live="polite")
      ul.mp-cards-grid
        each mp in mps
          - const mpNameSlug = mp.name.toLowerCase().replaceAll(" ", "_");
          li.mp-card(data-province=mp.province data-party=mp.party data-constituency=mp.constituency data-landlord=JSON.stringify(mp.landlord) style=`view-transition-name: ${mpNameSlug}`)
            img.mp-portrait(src=`/images/mp_images/${mp.image_name}` alt="" loading="lazy")
            .mp-card-content
              h2.mp-card-title
                span(translate="no")=mp.name
                strong(style="font-weight: 500;") #{mp.landlord ? " is" : " is not known to be"} a landlord
              dl.mp-card-details
                dt.visually-hidden=t("party")
                dd=mp.party
                .mp-constituency-and-province
                  dt.visually-hidden=t("constituency")
                  dd=mp.constituency
                  dt.visually-hidden=t("province")
                  dd=mp.province
              a.mp-card-cta(href=`/${lang}/federal/${mp.constituency_slug}`) Learn more #[span.visually-hidden about #{mp.name}]
