extends _layouts/base

include _mixins/data-source

append head
  style: include index.css

append foot
  script(defer): include index.js
  
block main
  .title
    h1=title
    +data-source(scope)
  details.totals(open)
    summary#table-details-label Landlords by party
    .totals-table-wrapper
      table.totals-table(aria-labelledby="table-details-label")
        thead
          th=t("party")
          th(aria-sort="descending") #[span(aria-hidden="true") ▾]&nbsp;MPs
          th Landlords
          th Percentage
        tbody
          each row in table.body
            tr(data-party=row.party)
              th(scope="row")=row.party
              td=row.mps
              td=row.landlords
              td=row.percentage
        tfoot
          th(scope="row") Totals
          td=totalMps
          td=totalLandlords
          td=totalPercentage
  #root
    .mega-container
      .sorting-container

        label(for="party-select")
          | #{t("party")}
          select#party-select.filter-selector
            button: selectedcontent
            option(value=t("all"))=t("all")
            each party in Array.from(parties, ([party]) => party).sort()
              option(value=party)
                div(data-party=party style="display: contents")
                  svg(viewBox="0 0 20 20" width="1em" style="align-self: center")
                    circle(r="10" cx="10" cy="10" fill="var(--party-color)")
                  span=party

        label(for="province-select")
          | #{t("province")}
          select#province-select.filter-selector
            option(value=t("all"))=t("all")
            each province, key in Object.fromEntries(provinces)
              option(value=key)=province

        label(for="constituency-select")
          | #{t("constituency")} 
          select#constituency-select.filter-selector
            option(value="All")=t("all")
            each constituencies, province in constituenciesByProvince
              optgroup(label=t(["provinces", province]) data-province=province)
                each constituency in constituencies.sort((a, b) => new Intl.Collator("en-ca").compare(a.name, b.name))
                  option(value=constituency.name data-province=constituency.province)=constituency.name

        label(for="only-landlords")
          input#only-landlords(type="checkbox")
          | Only landlords

      #live-region.visually-hidden(aria-live="polite")
      ul.member-cards-grid
        each member in members
          li.member-card(
            data-province=member.province
            data-party=member.party
            data-constituency=member.constituency
            data-landlord=JSON.stringify(member.landlord)
            style=`view-transition-name: ${member.constituency_slug}`
          )
            img.member-portrait(src=`/images/mp_images/${member.image_name}` alt="" loading="lazy")
            .member-card-content
              h2.member-card-title!=t(member.landlord ? "isALandlord" : "isNotKnownToBeALandlord", { name: member.name })
              dl.member-card-details
                dt.visually-hidden=t("party")
                dd=member.party
                .member-constituency-and-province
                  dt.visually-hidden=t("constituency")
                  dd=member.constituency
                  dt.visually-hidden=t("province")
                  dd=member.province
              a.member-card-cta(href=`/${lang}/federal/${member.constituency_slug}`) Learn more #[span.visually-hidden about #{member.name}]
