extends _base

append head
  style: include index.css

append foot
  script(defer): include index.js
  
block main
  .title
    h1=siteTitle
    p All data sourced from the #[a(href=prciec.href)=prciec.label]
  #root
    .mega-container
      .sorting-container
        p.filter-text Select Party
        select.filter-selector
          each party in ["All", "Conservative", "Liberal", "Independent", "Bloc Québécois", "NDP", "Green Party"]
            option(value=party)=party
        p.filter-text Select Province
        select.filter-selector
          each province in ["All", "Ontario", "Quebec", "British Columbia", "Saskatchewan", "Alberta", "Manitoba", "Yukon", "Nova Scotia", "Newfoundland and Labrador", "New Brunswick", "Prince Edward Island", "Nunavut", "Northwest Territories"]
            option(value=province)=province
        p.filter-text Select Riding
        select.filter-selector
          each constituency in ["All", ...mps.map(mp => mp.constituency)]
            option(value=constituency)=constituency
      ul.mp-cards-grid
        each mp in mps
          - const mpNameSlug = mp.name.toLowerCase().replaceAll(" ", "_");
          li.mp-card(data-province=mp.province data-party=mp.party data-constituency=mp.constituency style=`view-transition-name: ${mpNameSlug}`)
            img.mp-portrait(src=`/images/mp_images/${mp.image_name}` alt="" loading="lazy")
            .mp-card-content
              h2.mp-card-title=mp.name
              dl.mp-card-details
                dt.visually-hidden Party
                dd=mp.party
                .mp-constituency-and-province
                  dt.visually-hidden Constituency
                  dd=mp.constituency
                  dt.visually-hidden Province
                  dd=mp.province
              a.mp-card-cta(href=`mp/${mpNameSlug}_${mp.province.toLowerCase()}`) Learn more #[span.visually-hidden about #{mp.name}]
