extends _base

append head
  style: include index.css

append foot
  script(defer): include index.js
  
block main
  .title
    h1=siteTitle
    p All data sourced from the #[a(href=prciec.href)=prciec.label]
  #root
    .mega-container
      .sorting-container
        p.filter-text Select Party
        select.filter-selector
          each party in ["All", "Conservative", "Liberal", "Independent", "Bloc Québécois", "NDP", "Green Party"]
            option(value=party)=party
        p.filter-text Select Province
        select.filter-selector
          each province in ["All", "Ontario", "Quebec", "British Columbia", "Saskatchewan", "Alberta", "Manitoba", "Yukon", "Nova Scotia", "Newfoundland and Labrador", "New Brunswick", "Prince Edward Island", "Nunavut", "Northwest Territories"]
            option(value=province)=province
      .mp-grid-container
        each mp in mps
          .mp-list(data-province=mp.province data-party=mp.party style=`view-transition-name: ${mp.name.toLowerCase().replaceAll(" ", "_")}`)
            a.mp-container(href=`mp/${mp.name.toLowerCase().replaceAll(" ", "_")}_${mp.province.toLowerCase()}`)
              .flex
                .img-container
                  img.mp-img(src=`/images/mp_images/${mp.image_name}` alt="" loading="lazy")
                .txt-container
                  .top-tile
                    p.mp-name=mp.name
                    p(class=`mp-party ${mp.party.toLowerCase().replaceAll(" ", "-")}`)=mp.party
                  .bottom-tile
                    p.mp-constituency=mp.constituency
                    p.mp-province=mp.province
